In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('results/mnist-fcn-test.csv', header=None)

In [3]:
df

     0       1       2       3       4                5               6
0  NaN   acc_1   acc_2   acc_3   acc_6  before_mean_acc  after_mean_acc
1  0.0  0.9417   0.943  0.9406  0.9423           0.9512          0.9511
2  NaN   acc_1   acc_2   acc_5   acc_8  before_mean_acc  after_mean_acc
3  0.0  0.9417   0.943  0.9449  0.9409           0.9514          0.9515
4  NaN   acc_2   acc_3   acc_5   acc_8  before_mean_acc  after_mean_acc
5  0.0   0.943  0.9406  0.9449  0.9409           0.9489          0.9491
6  NaN   acc_3   acc_4   acc_5   acc_7  before_mean_acc  after_mean_acc
7  0.0  0.9406   0.943  0.9449  0.9408           0.9514          0.9523

In [11]:
val_idx = []
for i in range(len(df.index)):
    if i % 2 == 0:
        val_idx.append(False)
    else:
        val_idx.append(True)
        
df_acc = df.iloc[val_idx].astype('float32')

In [12]:
df_acc.iloc[:, 6].mean()

0.9510000348091125

In [13]:
df_vb = pd.read_csv('results/vb-mnist-fcn-test.csv', header=None)

In [14]:
df_vb

     0       1       2             3               4
0  NaN   acc_1   acc_2  ensemble_acc         message
1  0.0  0.9453  0.9435        0.9507             NaN
2  NaN   acc_1   acc_2  ensemble_acc         message
3  0.0  0.9453  0.9435        0.9507  this is a test

In [18]:
val_idx_vb = []
for i in range(len(df_vb.index)):
    if i % 2 == 0:
        val_idx_vb.append(False)
    else:
        val_idx_vb.append(True)
        
df_vb_acc = df_vb.iloc[val_idx_vb, :4].astype('float32')

In [20]:
df_vb_acc.iloc[:, 3].mean()

0.9506999850273132